.modal-cadastro {
  /* display: none; */
  position: fixed;
  z-index: 1;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.2);
  transition: 0.4s;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.modal-titulo {
  display: flex;
  align-self: flex-start;
  font-size: 2rem;
}

.modal-fechar {
  cursor: pointer;
}

.cadastro-conteudo {
  background-color: white;
  margin: 20vh auto;
  padding: 1.5rem;
  border-radius: 15px;
  width: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formulario-cadastro{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ilustracao-registro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-radius: 15px;
  background-color: var(--cor-fundo);
}

.imagem-registro {
  width: 100%;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.campo-formulario {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.campo-grupo {
  display: flex;
  width: 100%;
  gap: 1.5rem;
  
}

.label-formulario {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.input-formulario {
  padding: 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px;
  border-radius: 8px;
  width: 100%;
}

.botao-enviar-cadastro {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0rem;
  width: 100%;
  margin-top: 0.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--cor-terciaria);
  color: white;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

.botao-enviar-cadastro:hover {
filter: brightness(95%);
}

.campo-tipo-animal {
  display: flex;
  flex-direction: column;
}