@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kalnia:wght@100..700&display=swap');
:root {
  --cor-primaria: #f29bdb;
  --cor-secundaria: #f2d0e9;
  --cor-terciaria: #6a66f2;
  --preto: #090020;
  --cor-fundo:  #FFD8F3;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
.tipografia {
  font-family: Kalnia;
}